#Laravel Specific files
/vendor
.env
/public/.htaccess
/storage
storage/*.key
/storage/framework/*
/supervisor.log
/public/documentacion/
/public/documentacion_filled/
.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules/accepts/package.json
node_modules/base64-arraybuffer/lib/base64-arraybuffer.js
node_modules/base64-arraybuffer/package.json
node_modules/base64id/package.json
node_modules/component-emitter/package.json
node_modules/cors/package.json
node_modules/debug/package.json
node_modules/denque/index.d.ts
node_modules/denque/index.js
node_modules/denque/package.json
node_modules/depd/package.json
node_modules/engine.io-parser/lib/index.js
node_modules/engine.io-parser/package.json
node_modules/engine.io-parser/Readme.md
node_modules/engine.io/CHANGELOG.md
node_modules/engine.io/lib/engine.io.js
node_modules/engine.io/lib/server.js
node_modules/engine.io/lib/socket.js
node_modules/engine.io/lib/transport.js
node_modules/engine.io/lib/transports/index.js
node_modules/engine.io/lib/transports/polling-jsonp.js
node_modules/engine.io/lib/transports/polling.js
node_modules/engine.io/lib/transports/websocket.js
node_modules/engine.io/node_modules/cookie/HISTORY.md
node_modules/engine.io/node_modules/cookie/index.js
node_modules/engine.io/node_modules/cookie/package.json
node_modules/engine.io/node_modules/cookie/README.md
node_modules/engine.io/node_modules/debug/package.json
node_modules/engine.io/node_modules/debug/src/browser.js
node_modules/engine.io/node_modules/debug/src/common.js
node_modules/engine.io/node_modules/debug/src/node.js
node_modules/engine.io/node_modules/ms/package.json
node_modules/engine.io/package.json
node_modules/engine.io/README.md
node_modules/escape-html/package.json
node_modules/express/package.json
node_modules/forwarded/HISTORY.md
node_modules/forwarded/index.js
node_modules/forwarded/package.json
node_modules/forwarded/README.md
node_modules/inherits/package.json
node_modules/ipaddr.js/package.json
node_modules/mime-db/db.json
node_modules/mime-db/HISTORY.md
node_modules/mime-db/package.json
node_modules/mime-db/README.md
node_modules/mime-types/HISTORY.md
node_modules/mime-types/package.json
node_modules/mime-types/README.md
node_modules/ms/package.json
node_modules/object-assign/package.json
node_modules/parseurl/package.json
node_modules/proxy-addr/HISTORY.md
node_modules/proxy-addr/package.json
node_modules/proxy-addr/README.md
node_modules/range-parser/package.json
node_modules/redis-commands/changelog.md
node_modules/redis-commands/commands.json
node_modules/redis-commands/package.json
node_modules/redis/index.js
node_modules/redis/lib/createClient.js
node_modules/redis/lib/individualCommands.js
node_modules/redis/lib/utils.js
node_modules/redis/package.json
node_modules/redis/README.md
node_modules/safe-buffer/package.json
node_modules/safer-buffer/package.json
node_modules/socket.io-adapter/package.json
node_modules/socket.io-adapter/Readme.md
node_modules/socket.io-parser/CHANGELOG.md
node_modules/socket.io-parser/node_modules/debug/package.json
node_modules/socket.io-parser/node_modules/debug/src/browser.js
node_modules/socket.io-parser/node_modules/debug/src/common.js
node_modules/socket.io-parser/node_modules/debug/src/node.js
node_modules/socket.io-parser/node_modules/ms/package.json
node_modules/socket.io-parser/package.json
node_modules/socket.io-parser/Readme.md
node_modules/socket.io/node_modules/debug/CHANGELOG.md
node_modules/socket.io/node_modules/debug/dist/debug.js
node_modules/socket.io/node_modules/debug/package.json
node_modules/socket.io/node_modules/debug/src/browser.js
node_modules/socket.io/node_modules/debug/src/common.js
node_modules/socket.io/node_modules/debug/src/node.js
node_modules/socket.io/node_modules/ms/index.js
node_modules/socket.io/node_modules/ms/license.md
node_modules/socket.io/node_modules/ms/package.json
node_modules/socket.io/node_modules/ms/readme.md
node_modules/socket.io/package.json
node_modules/socket.io/Readme.md
node_modules/statuses/package.json
node_modules/vary/package.json
node_modules/ws/lib/event-target.js
node_modules/ws/lib/limiter.js
node_modules/ws/lib/permessage-deflate.js
node_modules/ws/lib/receiver.js
node_modules/ws/lib/sender.js
node_modules/ws/lib/stream.js
node_modules/ws/lib/validation.js
node_modules/ws/lib/websocket-server.js
node_modules/ws/lib/websocket.js
node_modules/ws/package.json
node_modules/ws/README.md
node_modules/accepts/package.json
node_modules/base64-arraybuffer/lib/base64-arraybuffer.js
node_modules/base64-arraybuffer/package.json
node_modules/base64id/package.json
node_modules/component-emitter/package.json
node_modules/cors/package.json
node_modules/debug/package.json
node_modules/denque/index.d.ts
node_modules/denque/index.js
node_modules/denque/package.json
node_modules/depd/package.json
node_modules/engine.io-parser/lib/index.js
node_modules/engine.io-parser/package.json
node_modules/engine.io-parser/Readme.md
node_modules/engine.io/CHANGELOG.md
node_modules/engine.io/lib/engine.io.js
node_modules/engine.io/lib/server.js
node_modules/engine.io/lib/socket.js
node_modules/engine.io/lib/transport.js
node_modules/engine.io/lib/transports/index.js
node_modules/engine.io/lib/transports/polling-jsonp.js
node_modules/engine.io/lib/transports/polling.js
node_modules/engine.io/lib/transports/websocket.js
node_modules/engine.io/node_modules/cookie/HISTORY.md
node_modules/engine.io/node_modules/cookie/index.js
node_modules/engine.io/node_modules/cookie/package.json
node_modules/engine.io/node_modules/cookie/README.md
node_modules/engine.io/node_modules/debug/package.json
node_modules/engine.io/node_modules/debug/src/browser.js
node_modules/engine.io/node_modules/debug/src/common.js
node_modules/engine.io/node_modules/debug/src/node.js
node_modules/engine.io/node_modules/ms/package.json
node_modules/engine.io/package.json
node_modules/engine.io/README.md
node_modules/escape-html/package.json
node_modules/express/package.json
node_modules/forwarded/HISTORY.md
node_modules/forwarded/index.js
node_modules/forwarded/package.json
node_modules/forwarded/README.md
node_modules/inherits/package.json
node_modules/ipaddr.js/package.json
node_modules/mime-db/db.json
node_modules/mime-db/HISTORY.md
node_modules/mime-db/package.json
node_modules/mime-db/README.md
node_modules/mime-types/HISTORY.md
node_modules/mime-types/package.json
node_modules/mime-types/README.md
node_modules/ms/package.json
node_modules/object-assign/package.json
node_modules/parseurl/package.json
node_modules/proxy-addr/HISTORY.md
node_modules/proxy-addr/package.json
node_modules/proxy-addr/README.md
node_modules/range-parser/package.json
node_modules/redis-commands/changelog.md
node_modules/redis-commands/commands.json
node_modules/redis-commands/package.json
node_modules/redis/index.js
node_modules/redis/lib/createClient.js
node_modules/redis/lib/individualCommands.js
node_modules/redis/lib/utils.js
node_modules/redis/package.json
node_modules/redis/README.md
node_modules/safe-buffer/package.json
node_modules/safer-buffer/package.json
node_modules/socket.io-adapter/package.json
node_modules/socket.io-adapter/Readme.md
node_modules/socket.io-parser/CHANGELOG.md
node_modules/socket.io-parser/node_modules/debug/package.json
node_modules/socket.io-parser/node_modules/debug/src/browser.js
node_modules/socket.io-parser/node_modules/debug/src/common.js
node_modules/socket.io-parser/node_modules/debug/src/node.js
node_modules/socket.io-parser/node_modules/ms/package.json
node_modules/socket.io-parser/package.json
node_modules/socket.io-parser/Readme.md
node_modules/socket.io/node_modules/debug/CHANGELOG.md
node_modules/socket.io/node_modules/debug/dist/debug.js
node_modules/socket.io/node_modules/debug/package.json
node_modules/socket.io/node_modules/debug/src/browser.js
node_modules/socket.io/node_modules/debug/src/common.js
node_modules/socket.io/node_modules/debug/src/node.js
node_modules/socket.io/node_modules/ms/index.js
node_modules/socket.io/node_modules/ms/license.md
node_modules/socket.io/node_modules/ms/package.json
node_modules/socket.io/node_modules/ms/readme.md
node_modules/socket.io/package.json
node_modules/socket.io/Readme.md
node_modules/statuses/package.json
node_modules/vary/package.json
node_modules/ws/lib/event-target.js
node_modules/ws/lib/limiter.js
node_modules/ws/lib/permessage-deflate.js
node_modules/ws/lib/receiver.js
node_modules/ws/lib/sender.js
node_modules/ws/lib/stream.js
node_modules/ws/lib/validation.js
node_modules/ws/lib/websocket-server.js
node_modules/ws/lib/websocket.js
node_modules/ws/package.json
node_modules/ws/README.md
