#Laravel Specific files
/vendor
.env
/public/.htaccess
/storage
storage/*.key
/storage/framework/*
/supervisor.log
/public/documentacion/
/public/documentacion_filled/
.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
